/* CSS Document */

.video {
  background-color: #004ecd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.video .div {
  background-color: #004ecd;
  width: 1440px;
  height: 2300px;
  position: relative;
}

.video .overlap {
    position: absolute;
    width: 563px;
    height: 164px;
    top: -10px;
    left: 659px;
}

.video .text-wrapper {
    position: absolute;
    top: 151px;
    left: -649px;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: 740px;
}

.video .text-wrapper-2 {
    position: absolute;
    top: 260px;
    left: -500px;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: 1220px;
}

.video .overlap-group {
  position: absolute;
  width: 262px;
  height: 70px;
  top: 2189px;
  left: 86px;
}

.video .rectangle {
  width: 169px;
  height: 70px;
  top: 4px;
  left: -2px;
  background-color: #d9d9d9;
  border-radius: 95px;
  box-shadow: 22px 14px 0px #00000040;
  position: absolute;
}

.video .text-wrapper-3 {
  position: absolute;
  width: 224px;
  top: 20px;
  left: 38px;
  font-family: "Lilita One", cursive;
  font-weight: 400;
  color: #004ecd;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.video .img {
  width: 614px;
  height: 386px;
  top: 447px;
  left: 29px;
  position: absolute;
}

.video .rectangle-2 {
  width: 628px;
  height: 382px;
  top: 447px;
  left: 713px;
  position: absolute;
}

.video .rectangle-3 {
  width: 626px;
  height: 356px;
  top: 869px;
  left: 713px;
  position: absolute;
}

.video .rectangle-4 {
  width: 614px;
  height: 370px;
  top: 863px;
  left: 29px;
  position: absolute;
}

.video .rectangle-5 {
  width: 614px;
  height: 358px;
  top: 1267px;
  left: 33px;
  position: absolute;
}

.video .group {
  position: absolute;
  width: 172px;
  height: 162px;
  top: 3592px;
  left: 1230px;
}

.video .overlap-group-2 {
  position: relative;
  width: 191px;
  height: 183px;
}

.video .vector {
  position: absolute;
  width: 191px;
  height: 183px;
  top: 0;
  left: 0;
}

.video .arrow {
  position: absolute;
  width: 52px;
  height: 54px;
  top: 44px;
  left: 87px;
}

.video .div-wrapper {
  position: absolute;
  width: 176px;
  height: 70px;
  top: 2px;
  left: 877px;
  background-image: url(./img/vector-17.svg);
  background-size: 100% 100%;
}

.video .text-wrapper-4 {
    position: absolute;
    width: 134px;
    top: 16px;
    left: -1px;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    color: #141414;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.video .overlap-2 {
  position: absolute;
  width: 176px;
  height: 70px;
  top: 2px;
  left: 684px;
  background-image: url(./img/vector-18.svg);
  background-size: 100% 100%;
}

.video .text-wrapper-5 {
    position: absolute;
    width: 172px;
    top: 16px;
    left: -16px;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    color: #141414;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.video .overlap-3 {
  position: absolute;
  width: 362px;
  height: 118px;
  top: 302px;
  left: 901px;
}

.video .vector-2 {
  position: absolute;
  width: 176px;
  height: 70px;
  top: 2px;
  left: 0;
}

.video .text-wrapper-6 {
    position: absolute;
    width: 178px;
    top: -285px;
    left: 169px;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    color: #141414;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.video .vector-3 {
  position: absolute;
  width: 176px;
  height: 118px;
  top: 0;
  left: 186px;
}

.video .text-wrapper-7 {
    position: absolute;
    width: 138px;
    top: -284px;
    left: 362px;
    font-family: "Lilita One", cursive;
    font-weight: 400;
    color: #d9d9d9;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-4,
.text-wrapper-5,
.text-wrapper-6 {
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.text-wrapper-4:hover,
.text-wrapper-5:hover,
.text-wrapper-6:hover {
  color: #FF6F61;
  transform: scale(1.1);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  cursor: url('pictures/custom-cursor.png'), pointer;
}

.video .tiktok-wrapper {
  position: absolute;
  top: 1272px;
  left: 1134px;
  transform: translateX(-50%);
  width: 70px;
  z-index: 10;
}

.video .tiktok-wrapper-2 {
  position: absolute;
  top: 1268px;
  left: 904px;
  transform: translateX(-50%);
  width: 350px;
  z-index: 10;
}

.video .rectangle-6 {
  width: 614px;
  height: 386px;
  top: 1671px;
  left: 31px;
  position: absolute;
}
